.page {
    position: relative;
    /*padding-top: 10px;*/
    /*display: flex;*/
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .page {
        background-color: white;
        color: #282c34;
    }
}

h1 {
    text-align: center;
}

.page__carousel {
    display: flex;
    /*overflow: hidden;*/
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*.page__button {*/
/*    display: none;*/
/*}*/

.carousel__container {
    /*background-color: cadetblue;*/
    width: 400px;
    height: 600px;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: 1px -1px 5px grey;
    position: relative;
    transition: transform 0.7s ease;
}

.carousel__button {
    position: absolute;
    /*top: 50%;*/
    /*!*display: none;*!*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 40px;*/
    color: #fff;
    /*text-align: center;*/
    /*opacity: 0.5;*/
    /*height: 50px;*/
    /*transform: translateY(-50%);*/
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 40px;
    height: 60px;
    /*border-radius: 50%;*/
    opacity: 0.5;
    border: none;
}

.carousel__button:hover,
.carousel__button:focus {
    /*color: #fff;*/
    /*text-decoration: none;*/
    /*outline: 0;*/
    opacity: 0.9;
}

.button__next {
    right: 0;
}

.button__prev {
    left: 0;
}

.carousel__image {
    /*display: flex;*/
    margin: auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-width: 390px;
    transition: transform 0.7s ease;
}

/*.carousel__image:hover {*/
/*    .carousel__button {*/
/*        display: flex;*/
/*    }*/
/*}*/